@font-face {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("CeraPro"), url("../fonts/CeraPro/CeraPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "CeraPro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("CeraPro"), url("../fonts/CeraPro/CeraPro-RegularItalic.woff2") format("woff2"); }

@font-face {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("CeraPro"), url("../fonts/CeraPro/CeraPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("CeraPro"), url("../fonts/CeraPro/CeraPro-Bold.woff2") format("woff2"); }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #fff6d4;
  color: #fff; }

::selection {
  background-color: #fff6d4;
  color: #fff; }

input, textarea {
  outline: none; }
  input:focus:required:invalid, textarea:focus:required:invalid {
    border-color: red; }
  input:required:valid, textarea:required:valid {
    border-color: green; }

body {
  font-family: "CeraPro", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 17px;
  min-width: 320px;
  position: relative;
  line-height: 24px;
  overflow-x: hidden;
  color: #000000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.02em; }

a {
  text-decoration: none;
  color: currentColor; }
  a:active {
    outline: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body::-webkit-scrollbar {
  width: 5px; }

body::-webkit-scrollbar-track {
  background-color: #F1EBE8; }

body::-webkit-scrollbar-thumb {
  background-color: #ffd63b; }

body::after {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  content: '';
  background: rgba(0, 0, 0, 0.03);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; }

body.menu-active {
  overflow: hidden; }
  body.menu-active .header__list {
    opacity: 0; }
  body.menu-active::after {
    opacity: 1; }
  body.menu-active main {
    pointer-events: none; }

html {
  scroll-behavior: smooth; }

.section {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 96px; }
  .section__title {
    font-size: 32px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-weight: 500; }
  @media screen and (max-width: 1440px) {
    .section {
      padding: 0 120px; } }
  @media screen and (max-width: 1200px) {
    .section {
      padding: 0 90px;
      margin: 0 auto; }
      .section__title {
        font-size: 26px; } }
  @media screen and (max-width: 992px) {
    .section {
      padding: 0 50px; }
      .section__title {
        font-size: 22px; } }
  @media screen and (max-width: 768px) {
    .section {
      padding: 0 36px; } }
  @media screen and (max-width: 576px) {
    .section {
      padding: 0 30px; }
      .section__title {
        font-size: 16px;
        line-height: 20px; } }
  @media screen and (max-width: 400px) {
    .section {
      padding: 0 16px; } }

.page__title {
  margin-bottom: 40px; }
  @media screen and (max-width: 992px) {
    .page__title {
      margin-bottom: 30px; } }

.swiper-button-next:focus, .swiper-button-next:active,
.swiper-button-prev:focus,
.swiper-button-prev:active,
.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:active {
  outline: 0; }

.nice-select {
  border-color: #878787; }
  .nice-select::after {
    border-color: #fff6d4; }

.button {
  width: 138px;
  background: transparent;
  width: 138px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #000;
  color: #000;
  font-size: 16px;
  font-weight: 500; }
  .button:active, .button:focus {
    outline: 0; }
  .button:hover {
    color: #878787;
    border-color: #878787; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 32px;
  margin-bottom: 66px; }
  .header__menu {
    width: 30px;
    height: 22px;
    border: 0;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2px;
    cursor: pointer;
    background: transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 3;
    margin-right: 50px; }
    .header__menu span {
      width: 28px;
      background: #878787;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      height: 2px; }
    .header__menu:focus, .header__menu:active {
      outline: 0; }
    .header__menu.active span:first-child {
      -webkit-transform: translate3d(0, 3px, 0) rotate(225deg);
              transform: translate3d(0, 3px, 0) rotate(225deg); }
    .header__menu.active span:last-child {
      -webkit-transform: translate3d(0, -3px, 0) rotate(-225deg);
              transform: translate3d(0, -3px, 0) rotate(-225deg); }
  .header__logo {
    width: 412px;
    max-height: 60px;
    margin-left: 52px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .header__logo img {
      width: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .header__item {
    color: #878787;
    line-height: 22px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin-right: 46px;
    position: relative; }
    .header__item::before {
      content: '';
      position: absolute;
      width: 100%;
      bottom: -1px;
      background: #000;
      height: 1px;
      left: 0;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .header__item:last-child {
      margin-right: 0; }
    .header__item:hover {
      color: #000000; }
      .header__item:hover::before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); }
    .header__item.active::before {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }
  .header__store {
    margin-left: auto; }
  @media screen and (max-width: 1440px) {
    .header__item {
      margin-right: 18px; } }
  @media screen and (max-width: 1300px) {
    .header__item {
      margin-right: 16px; }
    .header__menu {
      margin-right: 22px; } }
  @media screen and (max-width: 1230px) {
    .header__logo {
      margin-left: 22px; } }
  @media screen and (max-width: 1120px) {
    .header__logo {
      width: 342px; } }
  @media screen and (max-width: 1040px) {
    .header__logo {
      margin-left: 0; } }
  @media screen and (max-width: 992px) {
    .header {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 44px; }
      .header__menu {
        margin-right: auto; }
      .header__logo {
        margin-right: auto;
        margin-left: -30px;
        width: 400px; }
      .header__list, .header__store {
        display: none; } }
  @media screen and (max-width: 768px) {
    .header {
      padding-top: 28px;
      margin-bottom: 32px; }
      .header__logo {
        width: 340px; } }
  @media screen and (max-width: 480px) {
    .header__logo {
      width: 300px; } }
  @media screen and (max-width: 400px) {
    .header__logo {
      width: 240px; } }

.menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 468px;
  background: #fff;
  padding: 120px 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .menu.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .menu__list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto; }
    .menu__list::-webkit-scrollbar {
      width: 5px; }
    .menu__list::-webkit-scrollbar-track {
      background-color: #F1EBE8; }
    .menu__list::-webkit-scrollbar-thumb {
      background-color: #ffd63b; }
  .menu__link {
    line-height: 21px;
    display: block;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: #878787;
    max-width: 140px; }
    .menu__link:hover {
      color: #000000; }
  .menu__item {
    margin-bottom: 36px; }
  .menu__last-item {
    margin-bottom: 20px; }
  .menu__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto; }
  .menu__social {
    margin-left: 16px; }
    .menu__social:first-child {
      margin-left: 0; }
      .menu__social:first-child a {
        padding-bottom: 0;
        padding-top: 6px; }
    .menu__social:nth-child(3) {
      margin-left: 16px; }
  .menu__social-link {
    width: 24px;
    height: 24px;
    background: #878787;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .menu__social-link svg {
      width: 100%;
      height: 100%; }
    .menu__social-link path {
      fill: #ffffff; }
    .menu__social-link path.fill-other {
      fill: #a4a4a4; }
  @media screen and (max-width: 1440px) {
    .menu {
      width: 382px; }
      .menu__item {
        margin-bottom: 20px; } }
  @media screen and (max-width: 1200px) {
    .menu {
      width: 328px;
      padding: 120px 60px 20px; } }
  @media screen and (max-width: 1120px) {
    .menu {
      padding-top: 110px; } }
  @media screen and (max-width: 992px) {
    .menu {
      padding: 100px 40px 20px;
      width: 256px; } }
  @media screen and (max-width: 768px) {
    .menu {
      width: 100%; }
      .menu__link {
        max-width: 100%; } }
  @media screen and (max-width: 576px) {
    .menu {
      padding: 60px 30px 20px; } }
  @media screen and (max-width: 350px) {
    .menu {
      padding: 60px 13px 20px; } }

.main-slider__img-wrap {
  height: 700px;
  width: 100%; }
  .main-slider__img-wrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.main-slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-slider__name {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase; }

.main-slider__date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px; }

.main-slider__date {
  font-weight: bold; }

.main-slider .swiper-container-horizontal > .swiper-pagination-bullets, .main-slider .swiper-pagination-custom, .main-slider .swiper-pagination-fraction {
  bottom: 0; }

.main-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 40px; }
  .main-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin-right: 0; }

.main-slider__pagination {
  position: relative;
  bottom: 0;
  margin-top: 44px; }

.main-slider .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #878787;
  width: 8px;
  height: 8px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 0; }
  .main-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
    border-color: #000; }
  .main-slider .swiper-pagination-bullet:last-child {
    margin-right: 0; }

@media screen and (max-width: 1440px) {
  .main-slider__img-wrap {
    height: 550px; }
  .main-slider__name {
    font-size: 20px;
    line-height: 28px; }
  .main-slider__date-wrap {
    font-size: 18px;
    line-height: 22px; }
  .main-slider__pagination {
    margin-top: 30px; } }

@media screen and (max-width: 1130px) {
  .main-slider__img-wrap {
    height: 450px; }
  .main-slider__info {
    margin-top: 20px; }
  .main-slider__name {
    font-size: 18px;
    line-height: 26px; }
  .main-slider__date-wrap {
    font-size: 16px;
    line-height: 20px; } }

@media screen and (max-width: 992px) {
  .main-slider__pagination {
    margin-top: 28px; } }

@media screen and (max-width: 840px) {
  .main-slider__img-wrap {
    height: 400px; }
  .main-slider__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media screen and (max-width: 768px) {
  .main-slider__img-wrap {
    height: 350px; } }

@media screen and (max-width: 640px) {
  .main-slider__img-wrap {
    height: 300px; } }

@media screen and (max-width: 576px) {
  .main-slider__img-wrap {
    height: 250px; }
  .main-slider__name {
    font-size: 14px;
    line-height: 20px; }
  .main-slider__date-wrap {
    font-size: 12px;
    line-height: 16px; } }

@media screen and (max-width: 480px) {
  .main-slider__img-wrap {
    height: 200px; } }

@media screen and (max-width: 390px) {
  .main-slider__img-wrap {
    height: 182px; } }

.footer {
  margin-top: 90px;
  margin-bottom: 74px; }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 34px;
    border-top: 1px solid #878787; }
  .footer__column {
    width: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .footer__column:first-child {
      text-align: left; }
      .footer__column:first-child .footer__footer-text {
        margin-left: 0; }
    .footer__column:last-child {
      text-align: right; }
      .footer__column:last-child .footer__footer-text {
        margin-left: auto;
        margin-right: 0; }
  .footer__footer-text {
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto; }
  .footer__privacy {
    text-transform: uppercase;
    color: #878787;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    font-size: 14px;
    line-height: 12px; }
  .footer__info-block {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 28px; }
  .footer__rights {
    font-size: 14px;
    line-height: 12px;
    color: #878787; }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px 0 0; }
  .footer__social {
    margin-left: 16px; }
    .footer__social:first-child {
      margin-left: 0; }
      .footer__social:first-child a {
        padding-bottom: 0;
        padding-top: 6px; }
    .footer__social:nth-child(3) {
      margin-left: 16px; }
  .footer__social-link {
    width: 24px;
    height: 24px;
    background: #878787;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer__social-link svg {
      width: 100%;
      height: 100%; }
    .footer__social-link path {
      fill: #ffffff; }
    .footer__social-link path.fill-other {
      fill: #a4a4a4; }
  .footer__last-links {
    margin-bottom: 8px; }
  @media screen and (max-width: 1440px) {
    .footer {
      margin-bottom: 56px;
      margin-top: 80px; } }
  @media screen and (max-width: 768px) {
    .footer {
      margin-bottom: 30px;
      margin-top: 66px; }
      .footer__columns {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-top: 0;
        border-top: 0; }
      .footer__column:first-child, .footer__column:last-child {
        width: 50%;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      .footer__column:nth-child(2) {
        width: 100%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 28px; }
      .footer__info-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; }
      .footer__privacy {
        margin-left: 0;
        margin-bottom: 8px; } }
  @media screen and (max-width: 576px) {
    .footer__footer-text {
      font-size: 14px;
      line-height: 16px; }
    .footer__privacy {
      font-size: 10px; }
    .footer__rights {
      font-size: 9px; } }

.about__main-img {
  height: 10%;
  max-height: 624px; }
  .about__main-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.about__main-desc {
  margin-top: 14px;
  font-size: 15px;
  line-height: 24px;
  color: #878787; }

.about__text-content {
  margin-top: 60px;
  padding: 0 110px; }
  .about__text-content p {
    line-height: 24px;
    margin-bottom: 30px; }
    .about__text-content p:last-child {
      margin-bottom: 0; }

@media screen and (max-width: 1440px) {
  .about__text-content {
    padding: 0 60px;
    margin-top: 50px; } }

@media screen and (max-width: 992px) {
  .about__text-content {
    padding: 0; } }

@media screen and (max-width: 768px) {
  .about__text-content {
    margin-top: 42px; }
    .about__text-content p {
      font-size: 14px;
      line-height: 17px; } }

@media screen and (max-width: 576px) {
  .about__main-desc {
    font-size: 10px;
    line-height: 12px;
    margin-top: 12px; } }

.about-slider {
  max-width: 1240px;
  margin-top: 86px; }
  .about-slider__container {
    height: 324px;
    overflow: visible; }
  .about-slider__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media screen and (max-width: 1100px) {
    .about-slider__container {
      height: 280px; } }
  @media screen and (max-width: 992px) {
    .about-slider {
      margin-top: 70px; }
      .about-slider__container {
        height: 250px; } }
  @media screen and (max-width: 768px) {
    .about-slider {
      margin-top: 62px; }
      .about-slider__container {
        height: 200px;
        height: 250px; } }
  @media screen and (max-width: 576px) {
    .about-slider__container {
      height: 220px; } }
  @media screen and (max-width: 400px) {
    .about-slider__container {
      height: 200px; } }

.about-partners {
  width: 100%; }
  .about-partners__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 90px auto 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-partners__item {
    margin-right: 62px; }
    .about-partners__item img {
      width: 100%; }
    .about-partners__item--1 {
      width: 128px; }
    .about-partners__item--2 {
      width: 112px; }
    .about-partners__item--3 {
      width: 148px; }
    .about-partners__item:last-child {
      margin-right: 0; }
  @media screen and (max-width: 576px) {
    .about-partners__wrap {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .about-partners__item {
      margin-right: 32px; }
      .about-partners__item--1 {
        width: 25%; }
      .about-partners__item--2 {
        width: 22%; }
      .about-partners__item--3 {
        width: 30%; } }

.exhibitions__block {
  padding-top: 102px;
  border-bottom: 1px solid #878787; }
  .exhibitions__block:last-child {
    border-bottom: 0; }

.exhibitions__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  width: 100%;
  text-align: center; }

.exhibitions__placeholder {
  margin-top: 42px;
  width: 100%;
  text-align: center;
  color: #878787;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 102px; }

.exhibitions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 62px; }

.exhibitions__item {
  width: calc(32.9% - 12px);
  margin-right: 24px;
  margin-bottom: 84px; }
  .exhibitions__item:nth-child(3n) {
    margin-right: 0; }
  .exhibitions__item:nth-last-child(-n+3) {
    margin-bottom: 0; }
  .exhibitions__item:last-child {
    margin-right: auto; }

.exhibitions__img-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .exhibitions__img-wrap img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.exhibitions__name {
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  margin-top: 28px; }

.exhibitions__by {
  margin-top: 8px; }

.exhibitions__date, .exhibitions__ps {
  font-style: italic;
  margin-top: 24px;
  font-size: 15px;
  line-height: 19px;
  color: #878787; }

.exhibitions__ps {
  margin-top: 10px; }

@media screen and (max-width: 1440px) {
  .exhibitions__title {
    font-size: 24px;
    line-height: 30px; }
  .exhibitions__block {
    padding-top: 80px; }
  .exhibitions__placeholder {
    margin-bottom: 80px; }
  .exhibitions__name {
    font-size: 20px; }
  .exhibitions__by {
    font-size: 16px; }
  .exhibitions__items {
    margin-top: 40px; } }

@media screen and (max-width: 1200px) {
  .exhibitions__block {
    padding-top: 70px; }
  .exhibitions__placeholder {
    margin-bottom: 70px; }
  .exhibitions__item {
    width: calc(32.8% - 12px); } }

@media screen and (max-width: 992px) {
  .exhibitions__title {
    font-size: 22px;
    line-height: 28px; }
  .exhibitions__placeholder {
    font-size: 14px;
    line-height: 18px; }
  .exhibitions__block {
    padding-top: 60px; }
  .exhibitions__placeholder {
    margin-bottom: 60px; }
  .exhibitions__item {
    width: calc(50% - 12px);
    margin-right: 0;
    margin-bottom: 60px; }
    .exhibitions__item:nth-last-child(-n+3) {
      margin-bottom: 60px; }
    .exhibitions__item:nth-last-child(-n+2) {
      margin-bottom: 0; } }

@media screen and (max-width: 768px) {
  .exhibitions__items {
    margin-top: 30px; }
  .exhibitions__title {
    font-size: 20px;
    line-height: 26px; }
  .exhibitions__block {
    padding-top: 54px; }
  .exhibitions__placeholder {
    margin-bottom: 54px;
    margin-top: 26px; }
  .exhibitions__name {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px; }
  .exhibitions__by {
    font-size: 14px;
    line-height: 15px; }
  .exhibitions__date, .exhibitions__ps {
    margin-top: 16px;
    font-size: 12px;
    line-height: 12px; }
  .exhibitions__ps {
    margin-top: 8px; } }

@media screen and (max-width: 576px) {
  .exhibitions__items {
    margin-top: 26px; }
  .exhibitions__title {
    font-size: 18px;
    line-height: 24px; }
  .exhibitions__placeholder {
    font-size: 14px;
    line-height: 18px; }
  .exhibitions__item {
    width: 100%;
    margin-bottom: 44px; }
    .exhibitions__item:nth-last-child(-n+3) {
      margin-bottom: 44px; }
    .exhibitions__item:nth-last-child(-n+2) {
      margin-bottom: 44px; }
    .exhibitions__item:last-child {
      margin-bottom: 0; } }

.d-exh__video {
  width: 100%;
  max-height: 700px; }
  .d-exh__video video {
    width: 100%;
    height: 100%; }

.d-exh__desc-video {
  font-size: 12px;
  margin-left: auto;
  margin-top: 18px;
  font-style: italic;
  color: #878787;
  text-align: right; }

.d-exh__name {
  margin-top: 42px; }

.d-exh__subtitle {
  margin-top: 14px;
  font-size: 20px;
  line-height: 24px; }

.d-exh__min-desc {
  font-size: 16px;
  line-height: 20px;
  color: #878787;
  margin-top: 40px; }

.d-exh__desc-text p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px; }
  .d-exh__desc-text p:last-child {
    margin-bottom: 0; }

.d-exh__desc-text a {
  position: relative; }
  .d-exh__desc-text a::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -1px;
    background: #000;
    height: 1px;
    left: 0;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .d-exh__desc-text a:hover::before {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0); }

.d-exh__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  margin-top: 60px;
  border-top: 1px solid #878787;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.d-exh__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px; }

.d-exh__links {
  margin-top: 18px; }

.d-exh__link {
  color: #878787;
  margin-bottom: 8px;
  font-size: 16px;
  display: block;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .d-exh__link:last-child {
    margin-bottom: 0; }
  .d-exh__link:hover {
    color: #000; }

.d-exh__column:last-child {
  max-width: 964px; }

.d-exh__column:first-child {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.d-exh__btn-more {
  display: none; }

@media screen and (max-width: 1200px) {
  .d-exh__subtitle {
    font-size: 18px; } }

@media screen and (max-width: 992px) {
  .d-exh__subtitle {
    font-size: 16px;
    line-height: 18px; }
  .d-exh__columns {
    margin-top: 50px;
    padding-top: 50px; }
  .d-exh__min-desc {
    font-size: 14px;
    line-height: 16px;
    margin-top: 30px; }
  .d-exh__btn-more {
    font-size: 12px;
    line-height: 15px;
    color: #878787;
    cursor: pointer;
    display: block; }
  .d-exh__desc-text p {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    height: 0;
    overflow: hidden;
    margin-bottom: 0; }
    .d-exh__desc-text p.mb {
      margin-bottom: 16px; }
    .d-exh__desc-text p:first-child {
      height: 100%;
      margin-bottom: 16px; } }

@media screen and (max-width: 768px) {
  .d-exh__subtitle {
    font-size: 14px;
    margin-top: 10px;
    line-height: 16px; }
  .d-exh__min-desc {
    font-size: 12px;
    margin-top: 24px;
    line-height: 14px; }
  .d-exh__columns {
    padding-top: 42px;
    margin-top: 42px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .d-exh__column:first-child {
    margin-bottom: 30px;
    margin-right: 0; }
  .d-exh__link {
    font-size: 14px;
    line-height: 16px; } }

@media screen and (max-width: 576px) {
  .d-exh__subtitle {
    font-size: 12px;
    line-height: 14px; }
  .d-exh__desc-video {
    text-align: left; }
  .d-exh__min-desc {
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px; }
  .d-exh__link {
    font-size: 12px;
    line-height: 14px; } }

.g-slider__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  border-top: 1px solid #878787;
  margin-top: 60px; }

.g-slider__column:first-child {
  max-width: 230px;
  width: 100%;
  margin-right: 40px;
  position: relative; }

.g-slider__column:last-child .g-slider__buttons {
  display: none; }

.g-slider__container {
  max-width: 784px;
  height: 532px;
  overflow: visible; }
  .g-slider__container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.g-slider__slide {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.g-slider .swiper-slide-prev {
  opacity: 0;
  pointer-events: none; }

.g-slider .swiper-slide-next {
  opacity: 1; }
  .g-slider .swiper-slide-next img {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.6; }

.g-slider .swiper-slide-active {
  opacity: 1 !important; }
  .g-slider .swiper-slide-active img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1; }

.g-slider__prev, .g-slider__next {
  position: relative;
  margin-top: 0;
  top: 0;
  left: 44px;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 44px; }
  .g-slider__prev::after, .g-slider__next::after {
    display: none; }

.g-slider__prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.g-slider__buttons {
  top: 50%;
  z-index: 2;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

@media screen and (max-width: 1440px) {
  .g-slider__container {
    height: 432px;
    max-width: 650px; }
  .g-slider__column {
    -ms-flex-negative: 0;
        flex-shrink: 0; } }

@media screen and (max-width: 1200px) {
  .g-slider__container {
    height: 400px;
    max-width: 540px; } }

@media screen and (max-width: 992px) {
  .g-slider__container {
    height: 320px;
    max-width: 440px; }
  .g-slider__column:first-child {
    max-width: 180px; }
  .g-slider__columns {
    margin-top: 50px;
    padding-top: 50px; } }

@media screen and (max-width: 768px) {
  .g-slider__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 42px;
    margin-top: 42px; }
  .g-slider__column {
    position: relative; }
    .g-slider__column:first-child {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 22px; }
      .g-slider__column:first-child .g-slider__buttons {
        display: none; }
    .g-slider__column:last-child .g-slider__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .g-slider__container {
    width: 100%;
    max-width: 100%;
    height: 400px; }
  .g-slider__buttons {
    bottom: 0;
    left: 0;
    top: auto;
    position: relative;
    margin: 20px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .g-slider__prev, .g-slider__next {
    left: 0; }
  .g-slider__next {
    margin-left: 16px; } }

@media screen and (max-width: 650px) {
  .g-slider__container {
    height: 340px; } }

@media screen and (max-width: 576px) {
  .g-slider__container {
    height: 300px; } }

@media screen and (max-width: 500px) {
  .g-slider__container {
    height: 270px; } }

@media screen and (max-width: 450px) {
  .g-slider__container {
    height: 230px; } }

.d-ex__title {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500; }
  @media screen and (max-width: 1440px) {
    .d-ex__title {
      font-size: 22px;
      line-height: 28px; } }
  @media screen and (max-width: 992px) {
    .d-ex__title {
      font-size: 20px;
      line-height: 26px; } }
  @media screen and (max-width: 768px) {
    .d-ex__title {
      font-size: 18px;
      line-height: 24px; } }
  @media screen and (max-width: 576px) {
    .d-ex__title {
      font-size: 16px;
      line-height: 22px; } }

.r-events {
  margin-top: 64px; }
  .r-events__title {
    padding-top: 64px;
    border-top: 1px solid #878787; }
  .r-events__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 38px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .r-events__item {
    width: calc(50% - 37px);
    margin-bottom: 44px; }
    .r-events__item:nth-last-child(-n+2) {
      margin-bottom: 0; }
  .r-events__img-wrap {
    padding: 42px 40px;
    border: 1px solid #878787;
    max-height: 586px;
    height: 100%; }
    .r-events__img-wrap img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .r-events__name {
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 26px; }
  .r-events__desc {
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px; }
  .r-events__date {
    color: #878787;
    margin-top: 24px;
    font-style: italic;
    font-size: 15px;
    line-height: 18px; }
  @media screen and (max-width: 1440px) {
    .r-events__img-wrap {
      max-height: 480px; }
    .r-events__name {
      font-size: 20px; }
    .r-events__desc {
      font-size: 16px; } }
  @media screen and (max-width: 1200px) {
    .r-events__img-wrap {
      max-height: 380px;
      padding: 30px 28px; } }
  @media screen and (max-width: 992px) {
    .r-events {
      margin-top: 50px; }
      .r-events__title {
        padding-top: 50px; }
      .r-events__img-wrap {
        max-height: 300px; }
      .r-events__item {
        width: calc(50% - 20px); } }
  @media screen and (max-width: 768px) {
    .r-events {
      margin-top: 42px; }
      .r-events__title {
        padding-top: 42px; }
      .r-events__name {
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px; }
      .r-events__desc {
        font-size: 14px;
        line-height: 15px; }
      .r-events__date {
        margin-top: 16px;
        font-size: 12px;
        line-height: 12px; }
      .r-events__img-wrap {
        max-height: 260px;
        padding: 20px 18px; } }
  @media screen and (max-width: 660px) {
    .r-events__img-wrap {
      max-height: 220px; } }
  @media screen and (max-width: 576px) {
    .r-events__name {
      font-size: 18px;
      line-height: 24px; }
    .r-events__img-wrap {
      max-height: 506px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
    .r-events__item {
      width: 100%;
      margin-bottom: 30px; }
      .r-events__item:nth-last-child(-n+2) {
        margin-bottom: 30px; }
      .r-events__item:last-child {
        margin-bottom: 0; } }

.art-fairs .exhibitions__block {
  padding-top: 0; }

.art-fairs .exhibitions__img-wrap {
  padding: 26px;
  border: 1px solid #878787;
  height: 400px; }
  .art-fairs .exhibitions__img-wrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

@media screen and (max-width: 1440px) {
  .art-fairs .exhibitions__img-wrap {
    padding: 16px;
    height: 360px; } }

@media screen and (max-width: 1300px) {
  .art-fairs .exhibitions__img-wrap {
    height: 310px; } }

@media screen and (max-width: 1100px) {
  .art-fairs .exhibitions__img-wrap {
    height: 260px; }
  .art-fairs .exhibitions__item:last-child {
    margin-right: 0; } }

.art-gallery .g-slider__container {
  max-height: 100%;
  height: 100%; }

.art-gallery .g-slider__img-wrap {
  height: 532px; }

.art-gallery .g-slider__name {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-top: 28px;
  text-transform: uppercase; }

.art-gallery .g-slider__location {
  margin-top: 8px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 21px; }

.art-gallery .g-slider__date {
  margin-top: 24px;
  font-size: 15px;
  line-height: 19px;
  color: #878787;
  font-style: italic; }

.art-gallery .g-slider .swiper-slide-next {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.6; }
  .art-gallery .g-slider .swiper-slide-next img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1; }

@media screen and (max-width: 1440px) {
  .art-gallery .g-slider__img-wrap {
    height: 432px; } }

@media screen and (max-width: 1200px) {
  .art-gallery .g-slider__img-wrap {
    height: 400px;
    max-width: 540px; } }

@media screen and (max-width: 992px) {
  .art-gallery .g-slider__img-wrap {
    height: 320px;
    max-width: 440px; } }

@media screen and (max-width: 768px) {
  .art-gallery .g-slider__img-wrap {
    width: 100%;
    max-width: 100%;
    height: 400px; } }

@media screen and (max-width: 650px) {
  .art-gallery .g-slider__img-wrap {
    height: 340px; } }

@media screen and (max-width: 576px) {
  .art-gallery .g-slider__img-wrap {
    height: 300px; } }

@media screen and (max-width: 500px) {
  .art-gallery .g-slider__img-wrap {
    height: 270px; } }

@media screen and (max-width: 450px) {
  .art-gallery .g-slider__img-wrap {
    height: 230px; } }

.contacts__img-wrap {
  margin-top: 62px;
  max-height: 832px;
  height: 100%; }
  .contacts__img-wrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.contacts__s-title {
  margin-top: 40px; }

.contacts__contacts {
  margin-top: 40px; }

.contacts__contact {
  font-size: 18px;
  line-height: 30px; }

.contacts__map {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  margin-top: 22px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .contacts__map::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -1px;
    background: #000;
    height: 1px;
    left: 0;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .contacts__map:hover::before {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0); }

.contacts__block {
  padding-top: 60px;
  margin-top: 60px;
  border-top: 1px solid #878787; }

.contacts__o-title {
  font-size: 24px;
  line-height: 26px; }

.contacts__columns {
  margin-top: 32px; }

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contacts__item {
  margin-bottom: 26px; }
  .contacts__item:last-child {
    margin-bottom: 0; }

.contacts__icon {
  width: 21px;
  height: 21px;
  margin-right: 22px; }
  .contacts__icon svg {
    width: 100%;
    height: 100%; }

.contacts__text {
  font-size: 16px;
  line-height: 26px; }

.contacts__sub-text {
  color: #878787; }

.contacts__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contacts__column {
  width: 50%; }
  .contacts__column:last-child .contacts__item {
    margin-bottom: 16px; }
    .contacts__column:last-child .contacts__item:last-child {
      margin-bottom: 0; }

.contacts__medium {
  font-weight: 500; }

.contacts__inst-title {
  text-align: center;
  margin-bottom: 54px; }

.contacts__form {
  margin-top: 38px; }

.contacts__f-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contacts__f-item {
  width: 100%;
  max-width: 320px;
  margin-right: 54px; }
  .contacts__f-item:last-child {
    margin-right: 0; }
  .contacts__f-item input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #878787;
    padding: 16px 0;
    font-size: 16px;
    line-height: 24px; }

.contacts__submit {
  margin-top: 60px; }

@media screen and (max-width: 1440px) {
  .contacts__s-title, .contacts__contacts {
    margin-top: 36px; }
  .contacts__o-title {
    font-size: 22px; } }

@media screen and (max-width: 992px) {
  .contacts__s-title, .contacts__contacts {
    margin-top: 30px; }
  .contacts__map {
    margin-top: 18px; }
  .contacts__contact {
    font-size: 16px; }
  .contacts__o-title {
    font-size: 20px; }
  .contacts__block {
    margin-top: 50px;
    padding-top: 50px; }
  .contacts__img-wrap {
    margin-top: 40px; }
  .contacts__column:first-child {
    margin-right: 30px; }
  .contacts__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .contacts__row .contacts__icon {
      margin-top: 2px; }
  .contacts__f-item {
    margin-right: 38px; } }

@media screen and (max-width: 768px) {
  .contacts__s-title, .contacts__contacts {
    margin-top: 26px; }
  .contacts__map {
    margin-top: 16px; }
  .contacts__o-title {
    font-size: 18px; }
  .contacts__block {
    margin-top: 42px;
    padding-top: 42px; }
  .contacts__img-wrap {
    margin-top: 30px; }
  .contacts__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__column {
    width: 100%; }
    .contacts__column:first-child {
      margin-right: 0;
      margin-bottom: 30px; }
  .contacts__f-item {
    margin-right: 20px; } }

@media screen and (max-width: 576px) {
  .contacts__s-title, .contacts__contacts {
    margin-top: 24px; }
  .contacts__contact {
    font-size: 14px; }
  .contacts__map {
    margin-top: 14px;
    font-size: 14px; }
  .contacts__o-title {
    font-size: 16px; }
  .contacts__text {
    font-size: 14px;
    line-height: 22px; }
  .contacts__img-wrap {
    margin-top: 26px; }
  .contacts__f-item {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 16px; }
    .contacts__f-item:last-child {
      margin-bottom: 0; }
  .contacts__f-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__submit {
    margin-left: auto;
    margin-right: auto; } }

.eapps-instagram-feed-posts-grid-load-more-visible {
  display: none !important; }

.press-hooks__by {
  color: #878787; }

.breadcrumbs {
  margin-bottom: 32px; }
  .breadcrumbs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .breadcrumbs__item {
    margin-right: 46px;
    font-size: 16px;
    line-height: 22px;
    position: relative; }
    .breadcrumbs__item::before {
      content: '';
      position: absolute;
      width: 100%;
      bottom: -1px;
      background: #000;
      height: 1px;
      left: 0;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .breadcrumbs__item:last-child {
      margin-right: 0; }
    .breadcrumbs__item:hover {
      color: #000000; }
      .breadcrumbs__item:hover::before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); }

.d-artist__desc-about {
  color: #878787;
  font-style: italic; }

.works {
  margin-top: 50px; }
  .works__title {
    padding-top: 64px;
    border-top: 1px solid #878787;
    margin-bottom: 38px; }
  .works__name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400; }
  .works__link {
    border-color: #878787;
    color: #878787;
    margin-left: 36px; }
    .works__link:hover {
      border-color: #000;
      color: #000; }
  .works__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12px; }
  .works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .works__item {
    width: calc(50% - 37px);
    margin-bottom: 44px;
    display: block; }
    .works__item:nth-last-child(-n+2) {
      margin-bottom: 0; }
  .works__img-wrap {
    border: 1px solid #878787;
    max-height: 630px;
    height: 100%; }
    .works__img-wrap img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  @media screen and (max-width: 1440px) {
    .works__img-wrap {
      max-height: 530px; } }
  @media screen and (max-width: 1200px) {
    .works__img-wrap {
      max-height: 490px; } }
  @media screen and (max-width: 992px) {
    .works {
      margin-top: 50px; }
      .works__title {
        padding-top: 50px;
        margin-bottom: 30px; }
      .works__name {
        font-size: 16px;
        line-height: 19px; }
      .works__img-wrap {
        max-height: 440px; }
      .works__item {
        width: calc(50% - 10px); } }
  @media screen and (max-width: 840px) {
    .works__img-wrap {
      max-height: 400px; } }
  @media screen and (max-width: 768px) {
    .works {
      margin-top: 42px; }
      .works__title {
        padding-top: 42px;
        margin-bottom: 34px; }
      .works__name {
        font-size: 14px;
        line-height: 17px; }
      .works__link {
        margin-left: 34px; } }
  @media screen and (max-width: 700px) {
    .works__img-wrap {
      max-height: 350px; } }
  @media screen and (max-width: 650px) {
    .works__img-wrap {
      max-height: 320px; } }
  @media screen and (max-width: 576px) {
    .works__title {
      margin-bottom: 30px; }
    .works__info {
      margin-top: 10px; }
    .works__name {
      font-size: 12px;
      line-height: 15px; }
    .works__item {
      width: 100%; }
      .works__item:nth-last-child(-n+2) {
        margin-bottom: 44px; }
      .works__item:last-child {
        margin-bottom: 0; }
    .works__img-wrap {
      max-height: 500px; } }

.product__mob-author {
  display: none; }

.product__name {
  margin-top: 64px; }

.product__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product__icon {
  width: 26px;
  height: 26px; }
  .product__icon svg {
    width: 100%;
    height: 100%; }
