extends ../layout/default

block content
    .artists.section
        a(href='/')._item
            p Marina Alexeeva
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Maria Arendt
        a(href='/')._item
            p Hello
        a(href='/')._item.artists__placeholder
        a(href='/')._item
            p Alexander Shishkin - Hokusai
        a(href='/')._item.artists__placeholder
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello
        a(href='/')._item.artists__placeholder
        a(href='/')._item
            p Hello
        a(href='/')._item.artists__placeholder
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello
        a(href='/')._item
            p Hello

    //- .section
    //-     .work-portfolio__items
    //-         a.work-portfolio__item(href='#')
    //-             p Vinyl record
    //-         a.work-portfolio__item(href='#')
    //-             p 3D Wooden Logo
    //-         a.work-portfolio__item(href='#')
    //-             p Hard Cover Book
    //-         a.work-portfolio__item(href='#')
    //-             p macbook-air600
    //-         a.work-portfolio__item(href='#')
    //-             p Silver Stamping
    //-         a.work-portfolio__item(href='#')
    //-             p T-Shirt MockUp
    //-         a.work-portfolio__item(href='#')
    //-             p Fashion Glasses
    //-         a.work-portfolio__item(href='#')
    //-             p picjumbo
    //-         a.work-portfolio__item(href='#')
    //-             p Embossed Leather
    //-         a.work-portfolio__item(href='#')
    //-             p Billboard
    //-         a.work-portfolio__item(href='#')
    //-             p macbook pro
    //-         a.work-portfolio__item(href='#')
    //-             p Vintage Car
    //-         a.work-portfolio__item(href='#')
    //-             p madebyvadim
