extends ../layout/default

block content
    .d-exh.section
        ._video
            video(controls muted)

        p._desc-video Video credit: Fratea Nicolae ©courtesy the artist and Shtager Gallery


        h1._name.section__title Alexander Shishkin-Hokusai: Storming.

        p._subtitle Total installation in 43 plywood figures. 2017

        p._min-desc Curators: Marina Shtager, Denis Maksimov

        ._columns
            ._column
                ._info
                    p._overview.d-ex__title Overview

                    ._links
                        a(href="#")._link Press-release
                        a(href="#")._link View artist page
                        a(href="#")._link Available artworks


            ._column
                ._desc-text
                    p The mass spectacle The Storming of the Winter Palace, directed by dramatist Nikolai Evreinov, took place on the third anniversary of the October Revolution. It was staged outside of the former Tsarist Winter Palace, the seat of the Provisional Government before Bolsheviks’ power grab, on the third anniversary of the event. The performers reportedly included 125 ballet dancers, 100 circus artists, 200 women, 260 secondary actors, 150 assistants and 1750 supernumeraries. The spectacle took the form of ritual theatre, a Symbolist utopia that was born out of the unsuccessful revolution of 1905. It is also peculiar that The Storming is often taken as a historical event in public consciousness and bears even more symbolic weight in the context of the 100 year anniversary of the ten days that shook the world, or Bolshevik October Revolution of 1917. The act of storming as the symbolic gesture of emancipation has ontological character in anthropology, cultural and political history. Herostratus, the 4th century BC arsonist, sought eternal fame and historical immortality by destroying one of the Seven Wonder of the Ancient World, the great Temple of Artemis in Ephesus. Firdos Square statue of Saddam Hussein destruction, “the toppling”, became an iconic symbol of a controversial turn in Iraqi history. The power of storming had been a universal and transcultural strategy of political legitimisation.

                    p The total installation Storming by Alexander Shishkin-Hokusai follows the development of St Petersburg theatre and opera stage design aesthetics, in which the artist was professionally trained and work for many years. 43 figures in the total installation are sculptural materialisations of the simple drawings on the plywood cut-outs, two-dimensional and therefore flat, just like the appearance of the props on a theatre stage. The enactment of mass spectacle requires the stage and perfect viewing arrangement for the public, as the impact of the event has the ideological function of historical legitimisation. The installation features life-sized soldiers, sailors, naked women and other characters frozen still in a multiplicity of action scenes, which correspond to the original composition of the mass spectacle. The critical nature of their aesthetic appearance is a key for entering the multi-dimensional nature of Shishkin-Hokusai oeuvre: objectification of women and other oppressed groups in the society, ontological dichotomy, and dialectics of the nature of any historical event that caused the necessity to stage “storming” in the first place, are embedded in the narrative of the total installation. The installation will travel around London and adapt itself to each space that will be stormed by the diverse symbolic protagonists. It is far from the first total installation of the artist - he staged Practices of Growing Up in Ufa and St Petersburg, A Pillared Incubator in Helsinki, specially commissioned Looking at 2017 Triennial of Russian Contemporary Art in Moscow among others.

                    p Beyond the critical deciphering of the heavy subjects, there are languages of Socratic irony and strategic humor, that play a paramount role in the style of the artist. The figures appear to communicate strong emotions: some of them are ruthless, empowered, full of rigor and determination while others are terrified, desperate and helpless. The oppositional nature of anthropology is a recurrent subject in artist’s work: the ongoing series of The Naked against The Dressed plywood sculptures are a symbolic and bold representation of normalised ontological brutality of dialectics in being.

                    p Shishkin-Hokusai practice is as enticing from the technical perspective as in its conceptual essence. The illustrations obtain sculptural shapes while remaining flat and further blur, almost until it disappears, the fundamental boundary between a sketch and an object. The hybrid nature of the practice of the artist is the result of his professional activity as both set designer for large theatrical production, where he uses his birth name “Alexander Shushkin” and contemporary artist, who goes by the name “Shishkin-Hokusai”. As the artist explains himself: “[famous Russian painter Ivan] Shishkin worked with nature. But I’ve added to that the antagonist “Shishkin-Hokusai”. Hokusai with the figurative plasticity in some sense. In this way, I encode two vectors for myself: Shishkin as environmental component and Hokusai as the psycho-dramatic in relation to homo sapiens”. One can hardly be positioned better to reflect on the nature of mass spectacles.

                    p The whole drama of the spectacle of the total installation revolves around the Elephant & Castle Experimental Space on the South of London, a seemingly insignificant location for re-staging grand spectacles that change the course of history. However the story of one of London’s Newingtons, which was transformed from a no-go-area into the experiment of urban utopian planning after the Second World War and then went back to be one the most dangerous parts of the city after the experiment failed. At the moment it again lives through the controversial “storm” of the new Renaissance, brought by neoliberal capital flows from elsewhere during the London real estate boom, which in itself can go to ashes according to many expecting catastrophic socio-economic consequences of Brexit. History seems, both on macro and micro levels, to go in cycles: does it actually matter what one storm in order to feel emancipated, at least for a moment? Does this moment of feeling the true energy of life cost all the suffering of its consequence? Is it the only way to rupture the rigid structures of “normal”, with all its inequalities, violence and oppression? The answer is up to each and any but at the same time all of us.

                    p(style="font-style: italic")
                        | text by Denis Maksimov,
                        |
                        a(href="#") Avenir Institute

                ._btn-more + View more

    .g-slider.section
        ._columns
            ._column
                h2._name.d-ex__title Installation Views

                ._buttons
                    ._next.g-slider-1__next.swiper-button-next
                        svg(width='45' height='8' viewBox='0 0 45 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.3536 4.35355C44.5488 4.15829 44.5488 3.84171 44.3536 3.64645L41.1716 0.464466C40.9763 0.269204 40.6597 0.269204 40.4645 0.464466C40.2692 0.659728 40.2692 0.976311 40.4645 1.17157L43.2929 4L40.4645 6.82843C40.2692 7.02369 40.2692 7.34027 40.4645 7.53553C40.6597 7.7308 40.9763 7.7308 41.1716 7.53553L44.3536 4.35355ZM0 4.5H44V3.5H0V4.5Z' fill='black')

                    ._prev.g-slider-1__prev.swiper-button-prev
                        svg(width='45' height='8' viewBox='0 0 45 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.3536 4.35355C44.5488 4.15829 44.5488 3.84171 44.3536 3.64645L41.1716 0.464466C40.9763 0.269204 40.6597 0.269204 40.4645 0.464466C40.2692 0.659728 40.2692 0.976311 40.4645 1.17157L43.2929 4L40.4645 6.82843C40.2692 7.02369 40.2692 7.34027 40.4645 7.53553C40.6597 7.7308 40.9763 7.7308 41.1716 7.53553L44.3536 4.35355ZM0 4.5H44V3.5H0V4.5Z' fill='black')



            ._column
                ._container.g-slider-1__container.swiper-container

                    ._wrapper.swiper-wrapper

                        - for(var i = 1; i < 5; i++)
                            a(href='img/about-slider/' + i + '.jpg' data-fancybox="slider-gallery")._slide.swiper-slide
                                img(src='img/about-slider/' + i + '.jpg' alt="gallery")

                ._buttons
                    ._next.g-slider-1__next.swiper-button-next
                        svg(width='45' height='8' viewBox='0 0 45 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.3536 4.35355C44.5488 4.15829 44.5488 3.84171 44.3536 3.64645L41.1716 0.464466C40.9763 0.269204 40.6597 0.269204 40.4645 0.464466C40.2692 0.659728 40.2692 0.976311 40.4645 1.17157L43.2929 4L40.4645 6.82843C40.2692 7.02369 40.2692 7.34027 40.4645 7.53553C40.6597 7.7308 40.9763 7.7308 41.1716 7.53553L44.3536 4.35355ZM0 4.5H44V3.5H0V4.5Z' fill='black')

                    ._prev.g-slider-1__prev.swiper-button-prev
                        svg(width='45' height='8' viewBox='0 0 45 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.3536 4.35355C44.5488 4.15829 44.5488 3.84171 44.3536 3.64645L41.1716 0.464466C40.9763 0.269204 40.6597 0.269204 40.4645 0.464466C40.2692 0.659728 40.2692 0.976311 40.4645 1.17157L43.2929 4L40.4645 6.82843C40.2692 7.02369 40.2692 7.34027 40.4645 7.53553C40.6597 7.7308 40.9763 7.7308 41.1716 7.53553L44.3536 4.35355ZM0 4.5H44V3.5H0V4.5Z' fill='black')



    .g-slider.section
        ._columns
            ._column
                h2._name.d-ex__title Opening report

                ._buttons
                    ._next.g-slider-2__next.swiper-button-next
                        svg(width='45' height='8' viewBox='0 0 45 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.3536 4.35355C44.5488 4.15829 44.5488 3.84171 44.3536 3.64645L41.1716 0.464466C40.9763 0.269204 40.6597 0.269204 40.4645 0.464466C40.2692 0.659728 40.2692 0.976311 40.4645 1.17157L43.2929 4L40.4645 6.82843C40.2692 7.02369 40.2692 7.34027 40.4645 7.53553C40.6597 7.7308 40.9763 7.7308 41.1716 7.53553L44.3536 4.35355ZM0 4.5H44V3.5H0V4.5Z' fill='black')

                    ._prev.g-slider-2__prev.swiper-button-prev
                        svg(width='45' height='8' viewBox='0 0 45 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.3536 4.35355C44.5488 4.15829 44.5488 3.84171 44.3536 3.64645L41.1716 0.464466C40.9763 0.269204 40.6597 0.269204 40.4645 0.464466C40.2692 0.659728 40.2692 0.976311 40.4645 1.17157L43.2929 4L40.4645 6.82843C40.2692 7.02369 40.2692 7.34027 40.4645 7.53553C40.6597 7.7308 40.9763 7.7308 41.1716 7.53553L44.3536 4.35355ZM0 4.5H44V3.5H0V4.5Z' fill='black')


            ._column
                ._container.g-slider-2__container.swiper-container

                    ._wrapper.swiper-wrapper

                        - for(var i = 1; i < 5; i++)
                            a(href='img/about-slider/' + i + '.jpg' data-fancybox="slider-gallery")._slide.swiper-slide
                                img(src='img/about-slider/' + i + '.jpg' alt="gallery")

                ._buttons
                    ._next.g-slider-1__next.swiper-button-next
                        svg(width='45' height='8' viewBox='0 0 45 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.3536 4.35355C44.5488 4.15829 44.5488 3.84171 44.3536 3.64645L41.1716 0.464466C40.9763 0.269204 40.6597 0.269204 40.4645 0.464466C40.2692 0.659728 40.2692 0.976311 40.4645 1.17157L43.2929 4L40.4645 6.82843C40.2692 7.02369 40.2692 7.34027 40.4645 7.53553C40.6597 7.7308 40.9763 7.7308 41.1716 7.53553L44.3536 4.35355ZM0 4.5H44V3.5H0V4.5Z' fill='black')

                    ._prev.g-slider-1__prev.swiper-button-prev
                        svg(width='45' height='8' viewBox='0 0 45 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M44.3536 4.35355C44.5488 4.15829 44.5488 3.84171 44.3536 3.64645L41.1716 0.464466C40.9763 0.269204 40.6597 0.269204 40.4645 0.464466C40.2692 0.659728 40.2692 0.976311 40.4645 1.17157L43.2929 4L40.4645 6.82843C40.2692 7.02369 40.2692 7.34027 40.4645 7.53553C40.6597 7.7308 40.9763 7.7308 41.1716 7.53553L44.3536 4.35355ZM0 4.5H44V3.5H0V4.5Z' fill='black')


    .r-events.section
        h2._title.d-ex__title Related events
        ._items
            a(href="#")._item
                ._img-wrap
                    img(src="img/d-ex-1.png", alt="Related event")

                h3._name This Storm That We Call Progress

                p._desc The world’s best speeches theatricalised by Denis Maksimov

                p._date October 10, 2017

            a(href="#")._item
                ._img-wrap
                    img(src="img/d-ex-2.png", alt="Related event")

                h3._name Public Walk-Talk with Alexander Shishkin-Hokusai

                p._desc Curated by Olga Pogasova

                p._date October 10, 2017

