extends ../layout/default

block content
    .section
        .main-slider

            // Slider main container
            ._containr.swiper-container
                ._wrapper.swiper-wrapper
                    // Slides
                    .swiper-slide Slide 1
                    .swiper-slide Slide 2
                    .swiper-slide Slide 3

                // If we need pagination
                ._pagination.swiper-pagination

