.about-partners.section
    ._wrap
        a(href="#")._item.about-partners__item--1
            img(src="img/partners/1.png", alt="partner")

        a(href="#")._item.about-partners__item--2
            img(src="img/partners/2.png", alt="partner")

        a(href="#")._item.about-partners__item--3
            img(src="img/partners/3.jpg", alt="partner")
