@import config

body
    &::-webkit-scrollbar
        width: 5px

    &::-webkit-scrollbar-track
        background-color: #F1EBE8

    &::-webkit-scrollbar-thumb
        background-color: darken($accent, 30%)

    &::after
        transition: all 0.4s
        content: ''
        background: rgba(0, 0, 0, 0.03)
        opacity: 0
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 1
        pointer-events: none

    &.menu-active
        overflow: hidden

        .header__list
            opacity: 0

        &::after
            opacity: 1

        main
            pointer-events: none

html
    scroll-behavior: smooth

.section
    margin: 0 auto
    width: 100%
    max-width: 1440px
    box-sizing: border-box
    padding: 0 96px

    &__title
        font-size: 32px
        line-height: 30px
        font-weight: 500
        letter-spacing: 0.02em
        font-weight: 500

    @media screen and (max-width: 1440px)
        padding: 0 120px


    @media screen and (max-width: 1200px)
        padding: 0 90px
        margin: 0 auto

        &__title
            font-size: 26px

    @media screen and (max-width: 992px)
        padding: 0 50px

        &__title
            font-size: 22px

    @media screen and (max-width: 768px)
        padding: 0 36px

    @media screen and (max-width: 576px)
        padding: 0 30px

        &__title
            font-size: 16px
            line-height: 20px

    @media screen and (max-width: 400px)
        padding: 0 16px

.page
    &__title
        margin-bottom: 40px

        @media screen and (max-width: 992px)
            margin-bottom: 30px

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet
    &:focus,
    &:active
        outline: 0

.nice-select
    border-color: $bordercolor
    &::after
        border-color: $accent

    &:hover
        // border-color: #B2A393

    &:active
        // border-color: #7C6656

.button
    width: 138px
    background: transparent
    width: 138px
    height: 38px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: all 0.2s
    border: 1px solid #000
    color: #000
    font-size: 16px
    font-weight: 500

    &:active,
    &:focus
        outline: 0

    &:hover
        color: $grey
        border-color: $grey

.header
    display: flex
    align-items: flex-end
    padding-top: 32px
    margin-bottom: 66px

    &__menu
        width: 30px
        height: 22px
        border: 0
        border-radius: 0
        display: flex
        flex-direction: column
        justify-content: space-evenly
        padding: 2px
        cursor: pointer
        background: transparent
        transition: all 0.4s
        position: relative
        z-index: 3
        margin-right: 50px

        span
            width: 28px
            background: $grey
            transition: all 0.4s
            height: 2px

        &:focus,
        &:active
            outline: 0

        &.active
            span:first-child
                transform: translate3d(0,3px,0) rotate(225deg)

            span:last-child
                transform: translate3d(0,-3px,0) rotate(-225deg)

    &__logo
        width: 412px
        max-height: 60px
        margin-left: 52px
        height: fit-content

        img
            width: 100%
            object-fit: contain

    &__list
        display: flex
        transition: all 0.4s

    &__item
        color: $grey
        line-height: 22px
        transition: all 0.2s
        margin-right: 46px
        position: relative

        &::before
            content: ''
            position: absolute
            width: 100%
            bottom: -1px
            background: #000
            height: 1px
            left: 0
            transform: scaleX(0)
            transition: all 0.2s

        &:last-child
            margin-right: 0

        &:hover
            color: $hoverlink

            &::before
                transform: scaleX(1)

        &.active::before
            transform: scaleX(1)

    &__store
        margin-left: auto

    @media screen and ( max-width: 1440px )
        &__item
            margin-right: 18px

    @media screen and ( max-width: 1300px )
        &__item
            margin-right: 16px

        &__menu
            margin-right: 22px

    @media screen and ( max-width: 1230px )
        &__logo
            margin-left: 22px

    @media screen and ( max-width: 1120px )
        &__logo
            width: 342px

    @media screen and ( max-width: 1040px )
        &__logo
            margin-left: 0

    @media screen and ( max-width: 992px )
        justify-content: center
        align-items: center
        margin-bottom: 44px

        &__menu
            margin-right: auto

        &__logo
            margin-right: auto
            margin-left: -30px
            width: 400px

        &__list,
        &__store
            display: none

    @media screen and ( max-width: 768px )
        padding-top: 28px
        margin-bottom: 32px
        &__logo
            width: 340px

    @media screen and ( max-width: 480px )
        &__logo
            width: 300px

    @media screen and ( max-width: 400px )
        &__logo
            width: 240px

.menu
    z-index: 2
    position: fixed
    top: 0
    left: 0
    height: 100%
    transform: translateX(-100%)
    transition: all 0.4s
    width: 468px
    background: #fff
    padding: 120px 80px 20px
    display: flex
    justify-content: center

    &.active
        transform: translateX(0)

    &__list
        height: 100%
        display: flex
        flex-direction: column
        overflow-y: auto
        &::-webkit-scrollbar
            width: 5px

        &::-webkit-scrollbar-track
            background-color: #F1EBE8

        &::-webkit-scrollbar-thumb
            background-color: darken($accent, 30%)

    &__link
        line-height: 21px
        display: block
        transition: all 0.2s
        color: $grey
        max-width: 140px

        &:hover
            color: $hoverlink

    &__item
        margin-bottom: 36px

    &__last-item
        margin-bottom: 20px

    &__socials
        display: flex
        margin-top: auto

    &__social
        margin-left: 16px
        &:first-child
            margin-left: 0
            a
                padding-bottom: 0
                padding-top: 6px

        &:nth-child(3)
            margin-left: 16px

    &__social-link
        width: 24px
        height: 24px
        background: $grey
        padding: 3px
        display: flex
        align-items: center
        justify-content: center

        svg
            width: 100%
            height: 100%

        path
            fill: #ffffff

        path.fill-other
            fill: #a4a4a4


    @media screen and (max-width: 1440px)
        width: 382px

        &__item
            margin-bottom: 20px

    @media screen and (max-width: 1200px)
        width: 328px
        padding: 120px 60px 20px

    @media screen and ( max-width: 1120px )
        padding-top: 110px

    @media screen and ( max-width: 992px )
        padding: 100px 40px 20px
        width: 256px

    @media screen and (max-width: 768px)
        width: 100%

        &__link
            max-width: 100%

    @media screen and (max-width: 576px)
        padding: 60px 30px 20px

    @media screen and (max-width: 350px)
        padding: 60px 13px 20px

.main-slider
    &__img-wrap
        height: 700px
        width: 100%

        img
            width: 100%
            height: 100%
            object-fit: cover

    &__info
        display: flex
        justify-content: space-between
        margin-top: 26px
        align-items: center

    &__name
        font-size: 24px
        line-height: 32px
        text-transform: uppercase

    &__date-wrap
        display: flex
        text-transform: uppercase
        font-size: 20px
        line-height: 24px

    &__date
        font-weight: bold

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
        bottom: 0

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
        margin-right: 40px

        &:last-child
            margin-right: 0

    &__pagination
        position: relative
        bottom: 0
        margin-top: 44px

    .swiper-pagination-bullet
        background: transparent
        border: 1px solid $grey
        width: 8px
        height: 8px
        transition: all 0.2s
        margin-right: 0

        &.swiper-pagination-bullet-active
            background: #000
            border-color: #000

        &:last-child
            margin-right: 0

    @media screen and ( max-width: 1440px )
        &__img-wrap
            height: 550px

        &__name
            font-size: 20px
            line-height: 28px

        &__date-wrap
            font-size: 18px
            line-height: 22px

        &__pagination
            margin-top: 30px

    @media screen and ( max-width: 1130px )
        &__img-wrap
            height: 450px

        &__info
            margin-top: 20px

        &__name
            font-size: 18px
            line-height: 26px

        &__date-wrap
            font-size: 16px
            line-height: 20px

    @media screen and ( max-width: 992px )
        &__pagination
            margin-top: 28px

    @media screen and ( max-width: 840px )
        &__img-wrap
            height: 400px

        &__info
            flex-direction: column
            align-items: flex-start

    @media screen and ( max-width: 768px )
        &__img-wrap
            height: 350px

    @media screen and ( max-width: 640px )
        &__img-wrap
            height: 300px

    @media screen and ( max-width: 576px )
        &__img-wrap
            height: 250px

        &__name
            font-size: 14px
            line-height: 20px

        &__date-wrap
            font-size: 12px
            line-height: 16px

    @media screen and ( max-width: 480px )
        &__img-wrap
            height: 200px

    @media screen and ( max-width: 390px )
        &__img-wrap
            height: 182px

.footer
    margin-top: 90px
    margin-bottom: 74px

    &__columns
        display: flex
        justify-content: space-between
        padding-top: 34px
        border-top: 1px solid $grey

    &__column
        width: 33.3%
        display: flex
        flex-direction: column
        text-align: center

        &:first-child
            text-align: left
            .footer__footer-text
                margin-left: 0

        &:last-child
            text-align: right
            .footer__footer-text
                margin-left: auto
                margin-right: 0

    &__footer-text
        text-transform: uppercase
        width: fit-content
        margin: 0 auto

    &__privacy
        text-transform: uppercase
        color: $grey
        width: fit-content
        margin-left: auto
        font-size: 14px
        line-height: 12px

    &__info-block
        width: 100%
        justify-content: space-between
        display: flex
        align-items: flex-start
        margin-top: 28px

    &__rights
        font-size: 14px
        line-height: 12px
        color: $grey

    &__socials
        display: flex
        margin: 12px 0 0


    &__social
        margin-left: 16px
        &:first-child
            margin-left: 0
            a
                padding-bottom: 0
                padding-top: 6px

        &:nth-child(3)
            margin-left: 16px

    &__social-link
        width: 24px
        height: 24px
        background: $grey
        padding: 3px
        display: flex
        align-items: center
        justify-content: center

        svg
            width: 100%
            height: 100%

        path
            fill: #ffffff

        path.fill-other
            fill: #a4a4a4

    &__last-links
        margin-bottom: 8px

    @media screen and ( max-width: 1440px )
        margin-bottom: 56px
        margin-top: 80px

    @media screen and ( max-width: 768px )
        margin-bottom: 30px
        margin-top: 66px

        &__columns
            flex-wrap: wrap
            padding-top: 0
            border-top: 0

        &__column
            &:first-child,
            &:last-child
                width: 50%
                order: 2

            &:nth-child(2)
                width: 100%
                order: 1
                margin-bottom: 28px

        &__info-block
            flex-direction: column-reverse

        &__privacy
            margin-left: 0
            margin-bottom: 8px

    @media screen and ( max-width: 576px )
        &__footer-text
            font-size: 14px
            line-height: 16px

        &__privacy
            font-size: 10px

        &__rights
            font-size: 9px



.about
    &__main-img
        height: 10%
        max-height: 624px

        img
            width: 100%
            height: 100%
            object-fit: cover

    &__main-desc
        margin-top: 14px
        font-size: 15px
        line-height: 24px
        color: $grey

    &__text-content
        margin-top: 60px
        padding: 0 110px

        p
            line-height: 24px
            margin-bottom: 30px

            &:last-child
                margin-bottom: 0

    @media screen and ( max-width: 1440px )
        &__text-content
            padding: 0 60px
            margin-top: 50px

    @media screen and ( max-width: 992px )
        &__text-content
            padding: 0

    @media screen and ( max-width: 768px )
        &__text-content
            margin-top: 42px
            p
                font-size: 14px
                line-height: 17px

    @media screen and ( max-width: 576px )
        &__main-desc
            font-size: 10px
            line-height: 12px
            margin-top: 12px

.about-slider
    max-width: 1240px
    margin-top: 86px

    &__container
        height: 324px
        overflow: visible

    &__slide
        img
            width: 100%
            height: 100%
            object-fit: cover

    @media screen and ( max-width: 1100px )
        &__container
            height: 280px

    @media screen and ( max-width: 992px )
        margin-top: 70px

        &__container
            height: 250px

    @media screen and ( max-width: 768px )
        margin-top: 62px

        &__container
            height: 200px
            height: 250px

    @media screen and ( max-width: 576px )
        &__container
            height: 220px

    @media screen and ( max-width: 400px )
        &__container
            height: 200px



.about-partners
    width: 100%

    &__wrap
        display: flex
        width: fit-content
        margin: 90px auto 0
        align-items: center

    &__item
        margin-right: 62px

        img
            width: 100%

        &--1
            width: 128px

        &--2
            width: 112px

        &--3
            width: 148px

        &:last-child
            margin-right: 0

    @media screen and ( max-width: 576px )
        &__wrap
            justify-content: space-between

        &__item
            margin-right: 32px

            &--1
                width: 25%

            &--2
                width: 22%

            &--3
                width: 30%

.exhibitions
    &__block
        padding-top: 102px
        border-bottom: 1px solid $grey

        &:last-child
            border-bottom: 0

    &__title
        font-weight: 500
        font-size: 26px
        line-height: 33px
        width: 100%
        text-align: center

    &__placeholder
        margin-top: 42px
        width: 100%
        text-align: center
        color: $grey
        font-size: 16px
        line-height: 20px
        margin-bottom: 102px

    &__items
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 62px

    &__item
        width: calc(32.9% - 12px)
        margin-right: 24px
        margin-bottom: 84px

        &:nth-child(3n)
            margin-right: 0

        &:nth-last-child(-n+3)
            margin-bottom: 0

        &:last-child
            margin-right: auto

    &__img-wrap
        width: 100%
        display: flex

        img
            width: 100%
            object-fit: cover

    &__name
        font-size: 22px
        line-height: 27px
        font-weight: bold
        margin-top: 28px

    &__by
        margin-top: 8px

    &__date,
    &__ps
        font-style: italic
        margin-top: 24px
        font-size: 15px
        line-height: 19px
        color: $grey

    &__ps
        margin-top: 10px

    @media screen and ( max-width: 1440px )
        &__title
            font-size: 24px
            line-height: 30px

        &__block
            padding-top: 80px

        &__placeholder
            margin-bottom: 80px

        &__name
            font-size: 20px

        &__by
            font-size: 16px

        &__items
            margin-top: 40px

    @media screen and ( max-width: 1200px )
        &__block
            padding-top: 70px

        &__placeholder
            margin-bottom: 70px
        &__item
            width: calc(32.8% - 12px)

    @media screen and ( max-width: 992px )
        &__title
            font-size: 22px
            line-height: 28px

        &__placeholder
            font-size: 14px
            line-height: 18px

        &__block
            padding-top: 60px

        &__placeholder
            margin-bottom: 60px
        &__item
            width: calc(50% - 12px)
            margin-right: 0
            margin-bottom: 60px

            &:nth-last-child(-n+3)
                margin-bottom: 60px

            &:nth-last-child(-n+2)
                margin-bottom: 0

    @media screen and ( max-width: 768px )
        &__items
            margin-top: 30px

        &__title
            font-size: 20px
            line-height: 26px

        &__block
            padding-top: 54px

        &__placeholder
            margin-bottom: 54px
            margin-top: 26px

        &__name
            font-size: 16px
            line-height: 20px
            margin-top: 20px

        &__by
            font-size: 14px
            line-height: 15px

        &__date,
        &__ps
            margin-top: 16px
            font-size: 12px
            line-height: 12px

        &__ps
            margin-top: 8px

    @media screen and ( max-width: 576px )
        &__items
            margin-top: 26px

        &__title
            font-size: 18px
            line-height: 24px

        &__placeholder
            font-size: 14px
            line-height: 18px

        &__item
            width: 100%
            margin-bottom: 44px

            &:nth-last-child(-n+3)
                margin-bottom: 44px

            &:nth-last-child(-n+2)
                margin-bottom: 44px

            &:last-child
                margin-bottom: 0

.d-exh
    &__video
        width: 100%
        max-height: 700px

        video
            width: 100%
            height: 100%

    &__desc-video
        font-size: 12px
        margin-left: auto
        margin-top: 18px
        font-style: italic
        color: $grey
        text-align: right

    &__name
        margin-top: 42px

    &__subtitle
        margin-top: 14px
        font-size: 20px
        line-height: 24px

    &__min-desc
        font-size: 16px
        line-height: 20px
        color: $grey
        margin-top: 40px

    &__desc-text
        p
            font-size: 16px
            line-height: 20px
            margin-bottom: 16px

            &:last-child
                margin-bottom: 0

        a
            position: relative

            &::before
                content: ''
                position: absolute
                width: 100%
                bottom: -1px
                background: #000
                height: 1px
                left: 0
                transform: scaleX(1)
                transition: all 0.2s

            &:hover
                &::before
                    transform: scaleX(0)

    &__columns
        display: flex
        padding-top: 64px
        margin-top: 60px
        border-top: 1px solid $grey
        justify-content: space-between

    &__info
        display: flex
        flex-direction: column
        margin-right: 40px

    &__links
        margin-top: 18px

    &__link
        color: $grey
        margin-bottom: 8px
        font-size: 16px
        display: block
        transition: all 0.2s

        &:last-child
            margin-bottom: 0

        &:hover
            color: #000

    &__column
        &:last-child
            max-width: 964px

        &:first-child
            flex-shrink: 0

    &__btn-more
        display: none

    @media screen and ( max-width: 1200px )
        &__subtitle
            font-size: 18px

    @media screen and ( max-width: 992px )
        &__subtitle
            font-size: 16px
            line-height: 18px

        &__columns
            margin-top: 50px
            padding-top: 50px

        &__min-desc
            font-size: 14px
            line-height: 16px
            margin-top: 30px

        &__btn-more
            font-size: 12px
            line-height: 15px
            color: $grey
            cursor: pointer
            display: block


        &__desc-text
            p
                transition: all 0.2s
                height: 0
                overflow: hidden
                margin-bottom: 0

                &.mb
                    margin-bottom: 16px

                &:first-child
                    height: 100%
                    margin-bottom: 16px

    @media screen and ( max-width: 768px )
        &__subtitle
            font-size: 14px
            margin-top: 10px
            line-height: 16px

        &__min-desc
            font-size: 12px
            margin-top: 24px
            line-height: 14px

        &__columns
            padding-top: 42px
            margin-top: 42px
            flex-direction: column

        &__column
            &:first-child
                margin-bottom: 30px
                margin-right: 0

        &__link
            font-size: 14px
            line-height: 16px


    @media screen and ( max-width: 576px )
        &__subtitle
            font-size: 12px
            line-height: 14px

        &__desc-video
            text-align: left

        &__min-desc
            font-size: 10px
            line-height: 12px
            margin-top: 20px

        &__link
            font-size: 12px
            line-height: 14px

.g-slider
    &__columns
        display: flex
        padding-top: 64px
        border-top: 1px solid $grey
        margin-top: 60px

    &__column
        &:first-child
            max-width: 230px
            width: 100%
            margin-right: 40px
            position: relative

        &:last-child
            .g-slider__buttons
                display: none

    &__container
        max-width: 784px
        height: 532px
        overflow: visible

        img
            width: 100%
            height: 100%
            object-fit: cover
            transition: all 0.5s

    &__slide
        transition: all 0.2s
        opacity: 0
        user-select: none

    .swiper-slide-prev
        opacity: 0
        pointer-events: none

    .swiper-slide-next
        opacity: 1
        img
            transform: scale(0.8)
            opacity: 0.6

    .swiper-slide-active
        opacity: 1 !important
        img
            transform: scale(1)
            opacity: 1

    &__prev,
    &__next
        position: relative
        margin-top: 0
        top: 0
        left: 44px
        bottom: 0
        right: 0
        height: 20px
        width: 44px

        &::after
            display: none

    &__prev
        transform: rotate(180deg)

    &__buttons
        top: 50%
        z-index: 2
        position: absolute
        transform: translateX(-50%)

    @media screen and ( max-width: 1440px )
        &__container
            height: 432px
            max-width: 650px

        &__column
            flex-shrink: 0

    @media screen and ( max-width: 1200px )
        &__container
            height: 400px
            max-width: 540px

    @media screen and ( max-width: 992px )
        &__container
            height: 320px
            max-width: 440px

        &__column
            &:first-child
                max-width: 180px

        &__columns
            margin-top: 50px
            padding-top: 50px

    @media screen and ( max-width: 768px )
        &__columns
            flex-direction: column
            padding-top: 42px
            margin-top: 42px

        &__column
            position: relative

            &:first-child
                max-width: 100%
                margin-right: 0
                margin-bottom: 22px

                .g-slider__buttons
                    display: none

            &:last-child
                .g-slider__buttons
                    display: flex

        &__container
            width: 100%
            max-width: 100%
            height: 400px

        &__buttons
            bottom: 0
            left: 0
            top: auto
            position: relative
            margin: 20px auto 0
            display: flex
            flex-direction: row-reverse
            width: fit-content
            transform: none

        &__prev,
        &__next
            left: 0

        &__next
            margin-left: 16px

    @media screen and ( max-width: 650px )
        &__container
            height: 340px

    @media screen and ( max-width: 576px )
        &__container
            height: 300px

    @media screen and ( max-width: 500px )
        &__container
            height: 270px

    @media screen and ( max-width: 450px )
        &__container
            height: 230px


.d-ex__title
    font-size: 26px
    line-height: 32px
    font-weight: 500

    @media screen and ( max-width: 1440px )
        font-size: 22px
        line-height: 28px

    @media screen and ( max-width: 992px )
        font-size: 20px
        line-height: 26px

    @media screen and ( max-width: 768px )
        font-size: 18px
        line-height: 24px

    @media screen and ( max-width: 576px )
        font-size: 16px
        line-height: 22px

.r-events
    margin-top: 64px

    &__title
        padding-top: 64px
        border-top: 1px solid $grey

    &__items
        display: flex
        justify-content: space-between
        margin-top: 38px
        flex-wrap: wrap

    &__item
        width: calc(50% - 37px)
        margin-bottom: 44px

        &:nth-last-child(-n+2)
            margin-bottom: 0

    &__img-wrap
        padding: 42px 40px
        border: 1px solid $grey
        max-height: 586px
        height: 100%

        img
            width: 100%
            height: 100%
            object-fit: contain

    &__name
        font-size: 22px
        font-weight: bold
        line-height: 27px
        margin-top: 26px

    &__desc
        font-size: 16px
        line-height: 20px
        margin-top: 8px

    &__date
        color: $grey
        margin-top: 24px
        font-style: italic
        font-size: 15px
        line-height: 18px

    @media screen and ( max-width: 1440px )
        &__img-wrap
            max-height: 480px

        &__name
            font-size: 20px

        &__desc
            font-size: 16px

    @media screen and ( max-width: 1200px )
        &__img-wrap
            max-height: 380px
            padding: 30px 28px

    @media screen and ( max-width: 992px )
        margin-top: 50px

        &__title
            padding-top: 50px

        &__img-wrap
            max-height: 300px

        &__item
            width: calc(50% - 20px)

    @media screen and ( max-width: 768px )
        margin-top: 42px

        &__title
            padding-top: 42px

        &__name
            font-size: 16px
            line-height: 20px
            margin-top: 20px

        &__desc
            font-size: 14px
            line-height: 15px

        &__date
            margin-top: 16px
            font-size: 12px
            line-height: 12px

        &__img-wrap
            max-height: 260px
            padding: 20px 18px

    @media screen and ( max-width: 660px )
        &__img-wrap
            max-height: 220px

    @media screen and ( max-width: 576px )
        &__name
            font-size: 18px
            line-height: 24px

        &__img-wrap
            max-height: 506px
            height: fit-content

        &__item
            width: 100%
            margin-bottom: 30px

            &:nth-last-child(-n+2)
                margin-bottom: 30px

            &:last-child
                margin-bottom: 0


.art-fairs
    .exhibitions
        &__block
            padding-top: 0

        &__img-wrap
            padding: 26px
            border: 1px solid $grey
            height: 400px

            img
                width: 100%
                height: 100%
                object-fit: contain

        @media screen and ( max-width: 1440px )
            &__img-wrap
                padding: 16px
                height: 360px

        @media screen and ( max-width: 1300px )
            &__img-wrap
                height: 310px

        @media screen and ( max-width: 1100px )
            &__img-wrap
                height: 260px

            &__item
                &:last-child
                    margin-right: 0



.art-gallery
    .g-slider
        &__container
            max-height: 100%
            height: 100%

        &__img-wrap
            height: 532px

        &__name
            font-weight: bold
            font-size: 22px
            line-height: 27px
            margin-top: 28px
            text-transform: uppercase

        &__location
            margin-top: 8px
            text-transform: uppercase
            font-size: 17px
            line-height: 21px

        &__date
            margin-top: 24px
            font-size: 15px
            line-height: 19px
            color: $grey
            font-style: italic

        .swiper-slide-next
            transform: scale(0.8)
            opacity: 0.6
            img
                transform: scale(1)
                opacity: 1

        @media screen and ( max-width: 1440px )
            &__img-wrap
                height: 432px

        @media screen and ( max-width: 1200px )
            &__img-wrap
                height: 400px
                max-width: 540px

        @media screen and ( max-width: 992px )
            &__img-wrap
                height: 320px
                max-width: 440px

        @media screen and ( max-width: 768px )
            &__img-wrap
                width: 100%
                max-width: 100%
                height: 400px

        @media screen and ( max-width: 650px )
            &__img-wrap
                height: 340px

        @media screen and ( max-width: 576px )
            &__img-wrap
                height: 300px

        @media screen and ( max-width: 500px )
            &__img-wrap
                height: 270px

        @media screen and ( max-width: 450px )
            &__img-wrap
                height: 230px

.contacts
    &__img-wrap
        margin-top: 62px
        max-height: 832px
        height: 100%

        img
            width: 100%
            height: 100%
            object-fit: contain

    &__s-title
        margin-top: 40px

    &__contacts
        margin-top: 40px

    &__contact
        font-size: 18px
        line-height: 30px

    &__map
        font-size: 16px
        line-height: 26px
        text-transform: uppercase
        position: relative
        margin-top: 22px
        display: block
        width: fit-content

        &::before
                content: ''
                position: absolute
                width: 100%
                bottom: -1px
                background: #000
                height: 1px
                left: 0
                transform: scaleX(1)
                transition: all 0.2s

        &:hover
            &::before
                transform: scaleX(0)

    &__block
        padding-top: 60px
        margin-top: 60px
        border-top: 1px solid $grey

    &__o-title
        font-size: 24px
        line-height: 26px

    &__columns
        margin-top: 32px

    &__row
        display: flex
        align-items: center

    &__item
        margin-bottom: 26px

        &:last-child
            margin-bottom: 0

    &__icon
        width: 21px
        height: 21px
        margin-right: 22px

        svg
            width: 100%
            height: 100%

    &__text
        font-size: 16px
        line-height: 26px

    &__sub-text
        color: $grey

    &__columns
        display: flex

    &__column
        width: 50%

        &:last-child
            .contacts__item
                margin-bottom: 16px

                &:last-child
                    margin-bottom: 0

    &__medium
        font-weight: 500

    &__inst-title
        text-align: center
        margin-bottom: 54px

    &__form
        margin-top: 38px

    &__f-items
        display: flex

    &__f-item
        width: 100%
        max-width: 320px
        margin-right: 54px

        &:last-child
            margin-right: 0

        input
            width: 100%
            border: 0
            border-bottom: 1px solid $grey
            padding: 16px 0
            font-size: 16px
            line-height: 24px

    &__submit
        margin-top: 60px

    @media screen and ( max-width: 1440px )
        &__s-title,
        &__contacts
            margin-top: 36px

        &__o-title
            font-size: 22px


    @media screen and ( max-width: 992px )
        &__s-title,
        &__contacts
            margin-top: 30px

        &__map
            margin-top: 18px

        &__contact
            font-size: 16px

        &__o-title
            font-size: 20px

        &__block
            margin-top: 50px
            padding-top: 50px

        &__img-wrap
            margin-top: 40px

        &__column:first-child
            margin-right: 30px

        &__row
            align-items: flex-start

            .contacts__icon
                margin-top: 2px

        &__f-item
            margin-right: 38px

    @media screen and ( max-width: 768px )
        &__s-title,
        &__contacts
            margin-top: 26px

        &__map
            margin-top: 16px

        &__o-title
            font-size: 18px

        &__block
            margin-top: 42px
            padding-top: 42px

        &__img-wrap
            margin-top: 30px

        &__columns
            flex-direction: column

        &__column
            width: 100%

            &:first-child
                margin-right: 0
                margin-bottom: 30px

        &__f-item
            margin-right: 20px

    @media screen and ( max-width: 576px )
        &__s-title,
        &__contacts
            margin-top: 24px

        &__contact
            font-size: 14px

        &__map
            margin-top: 14px
            font-size: 14px

        &__o-title
            font-size: 16px

        &__text
            font-size: 14px
            line-height: 22px

        &__img-wrap
            margin-top: 26px

        &__f-item
            margin-right: 0
            max-width: 100%
            margin-bottom: 16px

            &:last-child
                margin-bottom: 0

        &__f-items
            flex-direction: column

        &__submit
            margin-left: auto
            margin-right: auto

.eapps-instagram-feed-posts-grid-load-more-visible
    display: none !important

.press-hooks
    &__by
        color: $grey

.breadcrumbs
    margin-bottom: 32px

    &__list
        display: flex

    &__item
        margin-right: 46px
        font-size: 16px
        line-height: 22px
        position: relative

        &::before
            content: ''
            position: absolute
            width: 100%
            bottom: -1px
            background: #000
            height: 1px
            left: 0
            transform: scaleX(0)
            transition: all 0.2s

        &:last-child
            margin-right: 0

        &:hover
            color: $hoverlink

            &::before
                transform: scaleX(1)

.d-artist
    &__desc-about
        color: $grey
        font-style: italic

.works
    margin-top: 50px

    &__title
        padding-top: 64px
        border-top: 1px solid $grey
        margin-bottom: 38px

    &__name
        font-size: 18px
        line-height: 22px
        font-weight: 400

    &__link
        border-color: $grey
        color: $grey
        margin-left: 36px

        &:hover
            border-color: #000
            color: #000

    &__info
        display: flex
        align-items: center
        margin-top: 12px

    &__items
        display: flex
        justify-content: space-between
        flex-wrap: wrap

    &__item
        width: calc(50% - 37px)
        margin-bottom: 44px
        display: block

        &:nth-last-child(-n+2)
            margin-bottom: 0

    &__img-wrap
        border: 1px solid $grey
        max-height: 630px
        height: 100%

        img
            width: 100%
            height: 100%
            object-fit: cover

    @media screen and ( max-width: 1440px )
        &__img-wrap
            max-height: 530px

    @media screen and ( max-width: 1200px )
        &__img-wrap
            max-height: 490px

    @media screen and ( max-width: 992px )
        margin-top: 50px

        &__title
            padding-top: 50px
            margin-bottom: 30px

        &__name
            font-size: 16px
            line-height: 19px

        &__img-wrap
            max-height: 440px

        &__item
            width: calc(50% - 10px)

    @media screen and ( max-width: 840px )
        &__img-wrap
            max-height: 400px

    @media screen and ( max-width: 768px )
        margin-top: 42px

        &__title
            padding-top: 42px
            margin-bottom: 34px

        &__name
            font-size: 14px
            line-height: 17px

        &__link
            margin-left: 34px

    @media screen and ( max-width: 700px )
        &__img-wrap
            max-height: 350px

    @media screen and ( max-width: 650px )
        &__img-wrap
            max-height: 320px

    @media screen and ( max-width: 576px )
        &__title
            margin-bottom: 30px

        &__info
            margin-top: 10px

        &__name
            font-size: 12px
            line-height: 15px

        &__item
            width: 100%

            &:nth-last-child(-n+2)
                margin-bottom: 44px

            &:last-child
                margin-bottom: 0

        &__img-wrap
            max-height: 500px

.product
    &__mob-author
        display: none

    &__name
        margin-top: 64px

    &__columns
        display: flex
        justify-content: space-between

    &__icon
        width: 26px
        height: 26px

        svg
            width: 100%
            height: 100%

