@import config

body
    &::-webkit-scrollbar
        width: 5px

    &::-webkit-scrollbar-track
        background-color: #F1EBE8

    &::-webkit-scrollbar-thumb
        background-color: darken($accent, 30%)

    &::after
        transition: all 0.4s
        content: ''
        background: rgba(0, 0, 0, 0.03)
        opacity: 0
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 1
        pointer-events: none

    &.menu-active
        overflow: hidden

        .header__list
            opacity: 0

        &::after
            opacity: 1

        main
            pointer-events: none

html
    scroll-behavior: smooth

.section
    margin: 0 auto
    width: 100%
    max-width: 1440px
    box-sizing: border-box
    padding: 0 96px

    &__title
        font-size: 32px
        line-height: 30px
        font-weight: 500
        letter-spacing: 0.02em

    @media screen and (max-width: 1440px)
        padding: 0 120px

        &__number
            left: 20px

    @media screen and (max-width: 1200px)
        padding: 0 90px
        margin: 0 auto 100px

        &__title
            font-size: 26px

    @media screen and (max-width: 992px)
        padding: 0 50px
        margin-bottom: 70px

        &__title
            font-size: 24px

    @media screen and (max-width: 768px)
        padding: 0 36px
        margin-bottom: 60px

    @media screen and (max-width: 576px)
        padding: 0 30px
        margin-bottom: 48px

        &__title
            font-size: 20px
            line-height: 24px

    @media screen and (max-width: 400px)
        padding: 0 16px

        &__title
            font-size: 18px
            line-height: 22px

.page
    &__title
        margin-bottom: 40px

        @media screen and (max-width: 992px)
            margin-bottom: 30px

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet
    &:focus,
    &:active
        outline: 0

.nice-select
    border-color: $bordercolor
    &::after
        border-color: $accent

    &:hover
        // border-color: #B2A393

    &:active
        // border-color: #7C6656

.header
    display: flex
    align-items: flex-end
    padding-top: 32px
    margin-bottom: 66px

    &__menu
        width: 30px
        height: 22px
        border: 0
        border-radius: 0
        display: flex
        flex-direction: column
        justify-content: space-evenly
        padding: 2px
        cursor: pointer
        background: transparent
        transition: all 0.4s
        position: relative
        z-index: 3
        margin-right: 50px

        span
            width: 28px
            background: $grey
            transition: all 0.4s
            height: 2px

        &:focus,
        &:active
            outline: 0

        &.active
            span:first-child
                transform: translate3d(0,3px,0) rotate(225deg)

            span:last-child
                transform: translate3d(0,-3px,0) rotate(-225deg)

    &__logo
        width: 412px
        max-height: 60px
        margin-left: 52px
        height: fit-content

        img
            width: 100%
            object-fit: contain

    &__list
        display: flex
        transition: all 0.4s

    &__item
        color: $grey
        line-height: 22px
        transition: all 0.2s
        margin-right: 46px
        position: relative

        &::before
            content: ''
            position: absolute
            width: 100%
            bottom: -1px
            background: #000
            height: 1px
            left: 0
            transform: scaleX(0)
            transition: all 0.2s

        &:last-child
            margin-right: 0

        &:hover
            color: $hoverlink

            &::before
                transform: scaleX(1)

        &.active::before
            transform: scaleX(1)

    &__store
        margin-left: auto

    @media screen and ( max-width: 1440px )
        &__item
            margin-right: 18px

    @media screen and ( max-width: 1300px )
        &__item
            margin-right: 16px

        &__menu
            margin-right: 22px

    @media screen and ( max-width: 1230px )
        &__logo
            margin-left: 22px

    @media screen and ( max-width: 1120px )
        &__logo
            width: 342px

    @media screen and ( max-width: 1040px )
        &__logo
            margin-left: 0

    @media screen and ( max-width: 992px )
        justify-content: center
        align-items: center
        margin-bottom: 44px

        &__menu
            margin-right: auto

        &__logo
            margin-right: auto
            margin-left: -30px
            width: 400px

        &__list,
        &__store
            display: none

    @media screen and ( max-width: 768px )
        padding-top: 28px
        margin-bottom: 32px
        &__logo
            width: 340px

    @media screen and ( max-width: 480px )
        &__logo
            width: 300px

    @media screen and ( max-width: 400px )
        &__logo
            width: 240px

.menu
    z-index: 2
    position: fixed
    top: 0
    left: 0
    height: 100%
    transform: translateX(-100%)
    transition: all 0.4s
    width: 468px
    background: #fff
    padding: 120px 80px 20px
    display: flex
    justify-content: center

    &.active
        transform: translateX(0)

    &__list
        height: 100%
        display: flex
        flex-direction: column
        overflow-y: auto
        &::-webkit-scrollbar
            width: 5px

        &::-webkit-scrollbar-track
            background-color: #F1EBE8

        &::-webkit-scrollbar-thumb
            background-color: darken($accent, 30%)

    &__link
        line-height: 21px
        display: block
        transition: all 0.2s
        color: $grey
        max-width: 140px

        &:hover
            color: $hoverlink

    &__item
        margin-bottom: 36px

    &__last-item
        margin-bottom: 20px

    &__socials
        display: flex
        margin-top: auto

    &__social
        margin-left: 16px
        &:first-child
            margin-left: 0
            a
                padding-bottom: 0
                padding-top: 6px

        &:nth-child(3)
            margin-left: 16px

    &__social-link
        width: 24px
        height: 24px
        background: $grey
        padding: 3px
        display: flex
        align-items: center
        justify-content: center

        svg
            width: 100%
            height: 100%

        path
            fill: #ffffff

        path.fill-other
            fill: #a4a4a4


    @media screen and (max-width: 1440px)
        width: 382px

        &__item
            margin-bottom: 20px

    @media screen and (max-width: 1200px)
        width: 328px
        padding: 120px 60px 20px

    @media screen and ( max-width: 1120px )
        padding-top: 110px

    @media screen and ( max-width: 992px )
        padding: 100px 40px 20px
        width: 256px

    @media screen and (max-width: 768px)
        width: 100%

        &__link
            max-width: 100%

    @media screen and (max-width: 576px)
        padding: 60px 30px 20px

    @media screen and (max-width: 350px)
        padding: 60px 13px 20px

.main-slider
    &__img-wrap
        height: 700px
        width: 100%

        img
            width: 100%
            height: 100%
            object-fit: cover

    &__info
        display: flex
        justify-content: space-between
        margin-top: 26px
        align-items: center

    &__name
        font-size: 24px
        line-height: 32px
        text-transform: uppercase

    &__date-wrap
        display: flex
        text-transform: uppercase
        font-size: 20px
        line-height: 24px

    &__date
        font-weight: bold

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
        bottom: 0

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
        margin-right: 40px

        &:last-child
            margin-right: 0

    &__pagination
        position: relative
        bottom: 0
        margin-top: 44px

    .swiper-pagination-bullet
        background: transparent
        border: 1px solid $grey
        width: 8px
        height: 8px
        transition: all 0.2s
        margin-right: 0

        &.swiper-pagination-bullet-active
            background: #000
            border-color: #000

        &:last-child
            margin-right: 0

    @media screen and ( max-width: 1440px )
        &__img-wrap
            height: 550px

        &__name
            font-size: 20px
            line-height: 28px

        &__date-wrap
            font-size: 18px
            line-height: 22px

        &__pagination
            margin-top: 30px

    @media screen and ( max-width: 1130px )
        &__img-wrap
            height: 450px

        &__info
            margin-top: 20px

        &__name
            font-size: 18px
            line-height: 26px

        &__date-wrap
            font-size: 16px
            line-height: 20px

    @media screen and ( max-width: 992px )
        &__pagination
            margin-top: 28px

    @media screen and ( max-width: 840px )
        &__img-wrap
            height: 400px

        &__info
            flex-direction: column
            align-items: flex-start

    @media screen and ( max-width: 768px )
        &__img-wrap
            height: 350px

    @media screen and ( max-width: 640px )
        &__img-wrap
            height: 300px

    @media screen and ( max-width: 576px )
        &__img-wrap
            height: 250px

        &__name
            font-size: 14px
            line-height: 20px

        &__date-wrap
            font-size: 12px
            line-height: 16px

    @media screen and ( max-width: 480px )
        &__img-wrap
            height: 200px

    @media screen and ( max-width: 390px )
        &__img-wrap
            height: 182px

.footer
    margin-top: 90px
    margin-bottom: 74px

    &__columns
        display: flex
        justify-content: space-between
        padding-top: 34px
        border-top: 1px solid $grey

    &__column
        width: 33.3%
        display: flex
        flex-direction: column
        text-align: center

        &:first-child
            text-align: left
            .footer__footer-text
                margin-left: 0

        &:last-child
            text-align: right
            .footer__footer-text
                margin-left: auto
                margin-right: 0

    &__footer-text
        text-transform: uppercase
        width: fit-content
        margin: 0 auto

    &__privacy
        text-transform: uppercase
        color: $grey
        width: fit-content
        margin-left: auto
        font-size: 14px
        line-height: 12px

    &__info-block
        width: 100%
        justify-content: space-between
        display: flex
        align-items: flex-start
        margin-top: 28px

    &__rights
        font-size: 14px
        line-height: 12px
        color: $grey

    &__socials
        display: flex
        margin: 12px 0 0


    &__social
        margin-left: 16px
        &:first-child
            margin-left: 0
            a
                padding-bottom: 0
                padding-top: 6px

        &:nth-child(3)
            margin-left: 16px

    &__social-link
        width: 24px
        height: 24px
        background: $grey
        padding: 3px
        display: flex
        align-items: center
        justify-content: center

        svg
            width: 100%
            height: 100%

        path
            fill: #ffffff

        path.fill-other
            fill: #a4a4a4

    &__last-links
        margin-bottom: 8px

    @media screen and ( max-width: 1440px )
        margin-bottom: 56px
        margin-top: 80px

    @media screen and ( max-width: 768px )
        margin-bottom: 30px
        margin-top: 66px

        &__columns
            flex-wrap: wrap
            padding-top: 0
            border-top: 0

        &__column
            &:first-child,
            &:last-child
                width: 50%
                order: 2

            &:nth-child(2)
                width: 100%
                order: 1
                margin-bottom: 28px

        &__info-block
            flex-direction: column-reverse

        &__privacy
            margin-left: 0
            margin-bottom: 8px

    @media screen and ( max-width: 576px )
        &__footer-text
            font-size: 14px
            line-height: 16px

        &__privacy
            font-size: 10px

        &__rights
            font-size: 9px



.about
    &__main-img
        height: 10%
        max-height: 624px

        img
            width: 100%
            height: 100%
            object-fit: cover

    &__main-desc
        margin-top: 14px
        font-size: 15px
        line-height: 24px
        color: $grey

    &__text-content
        margin-top: 60px
        padding: 0 110px

        p
            line-height: 24px
            margin-bottom: 30px

            &:last-child
                margin-bottom: 0

    @media screen and ( max-width: 1440px )
        &__text-content
            padding: 0 60px
            margin-top: 50px

    @media screen and ( max-width: 992px )
        &__text-content
            padding: 0

    @media screen and ( max-width: 768px )
        &__text-content
            margin-top: 42px
            p
                font-size: 14px
                line-height: 17px

    @media screen and ( max-width: 576px )
        &__main-desc
            font-size: 10px
            line-height: 12px
            margin-top: 12px

.about-slider
    max-width: 1240px
    margin-top: 86px

    &__container
        height: 324px
        overflow: visible

    &__slide
        img
            width: 100%
            height: 100%
            object-fit: cover

    @media screen and ( max-width: 1100px )
        &__container
            height: 280px

    @media screen and ( max-width: 992px )
        margin-top: 70px

        &__container
            height: 250px

    @media screen and ( max-width: 768px )
        margin-top: 62px

        &__container
            height: 200px
            height: 250px

    @media screen and ( max-width: 576px )
        &__container
            height: 220px

    @media screen and ( max-width: 400px )
        &__container
            height: 200px



.about-partners
    width: 100%

    &__wrap
        display: flex
        width: fit-content
        margin: 90px auto 0
        align-items: center

    &__item
        margin-right: 62px

        img
            width: 100%

        &--1
            width: 128px

        &--2
            width: 112px

        &--3
            width: 148px

        &:last-child
            margin-right: 0

    @media screen and ( max-width: 576px )
        &__wrap
            justify-content: space-between

        &__item
            margin-right: 32px

            &--1
                width: 25%

            &--2
                width: 22%

            &--3
                width: 30%

.exhibitions
    &__block
        padding-top: 102px
        border-bottom: 1px solid $grey

        &:last-child
            border-bottom: 0

    &__title
        font-weight: 500
        font-size: 26px
        line-height: 33px
        width: 100%
        text-align: center

    &__placeholder
        margin-top: 42px
        width: 100%
        text-align: center
        color: $grey
        font-size: 16px
        line-height: 20px
        margin-bottom: 102px

    &__items
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 62px

    &__item
        width: calc(32.9% - 12px)
        margin-right: 24px
        margin-bottom: 84px

        &:nth-child(3n)
            margin-right: 0

        &:nth-last-child(-n+3)
            margin-bottom: 0

        &:last-child
            margin-right: auto

    &__img-wrap
        width: 100%
        display: flex

        img
            width: 100%
            object-fit: cover

    &__name
        font-size: 22px
        line-height: 27px
        font-weight: bold
        margin-top: 28px

    &__by
        margin-top: 8px

    &__date,
    &__ps
        font-style: italic
        margin-top: 24px
        font-size: 15px
        line-height: 19px
        color: $grey

    &__ps
        margin-top: 10px

    @media screen and ( max-width: 1440px )
        &__title
            font-size: 24px
            line-height: 30px


        &__block
            padding-top: 80px

        &__placeholder
            margin-bottom: 80px

        &__name
            font-size: 20px

        &__by
            font-size: 16px

        &__items
            margin-top: 40px

    @media screen and ( max-width: 1200px )
        &__block
            padding-top: 70px

        &__placeholder
            margin-bottom: 70px
        &__item
            width: calc(32.8% - 12px)

    @media screen and ( max-width: 992px )
        &__title
            font-size: 22px
            line-height: 28px

        &__placeholder
            font-size: 14px
            line-height: 18px

        &__block
            padding-top: 60px

        &__placeholder
            margin-bottom: 60px
        &__item
            width: calc(50% - 12px)
            margin-right: 0
            margin-bottom: 60px

            &:nth-last-child(-n+3)
                margin-bottom: 60px

            &:nth-last-child(-n+2)
                margin-bottom: 0

    @media screen and ( max-width: 768px )
        &__items
            margin-top: 30px

        &__title
            font-size: 20px
            line-height: 26px

        &__block
            padding-top: 54px

        &__placeholder
            margin-bottom: 54px
            margin-top: 26px

        &__name
            font-size: 16px
            line-height: 20px
            margin-top: 20px

        &__by
            font-size: 14px
            line-height: 15px

        &__date,
        &__ps
            margin-top: 16px
            font-size: 12px
            line-height: 12px

        &__ps
            margin-top: 8px

    @media screen and ( max-width: 576px )
        &__items
            margin-top: 26px

        &__title
            font-size: 18px
            line-height: 24px

        &__placeholder
            font-size: 14px
            line-height: 18px

        &__item
            width: 100%
            margin-bottom: 44px

            &:nth-last-child(-n+3)
                margin-bottom: 44px

            &:nth-last-child(-n+2)
                margin-bottom: 44px

            &:last-child
                margin-bottom: 0



